/* Skin: Deep Sky Blue */
a {
    /* color: #3D4751; */
    /* color: #e5e5e5; */
    color: #4398D5;
}
a:hover, a:focus {
  /* color: #3D4751; */
  color: #4398D5;

}

.btn-primary {
  background-color: #3D4751 !important;
  border-color: #3D4751 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #3D4751 !important;
  border-color: #3D4751 !important;
}
.btn-primary:active:focus, .btn-primary.active:focus {
  background-color: #3D4751 !important;
  border-color: #3d4751 !important;
}

.section-heading h2 {
  /* color: #3D4751; */
  /* color: #337ab7; */
  color: #5D8D89;
}

.service-item .service-icon,
.service-item .service-text a.read-more {
  color: #3D4751;
}

.work-item-filters li a:hover,
.work-item-filters li a.active,
.work-item-filters li a.visited {
  background-color: #3D4751;
  
}


.work-item-list .image-overlay {
  /* background-color: rgba(82, 82, 82, 0.9); */
  background-color: rgba(0,0,0,.9);
}

.team-member .team-name {
  background-color: #3D4751;
}

.twitter-stream {
  background-color: #3D4751;
}
.twitter-stream .twitter-icon {
  background-color: #3D4751;
}
.twitter-stream .twitter-icon i {
  color: #3D4751;
}

.chart .percent {
  color: #3D4751;
}

.btn-link{
  margin: 5px;
  background-color: rgb(53, 50, 50);
  color: white;
  border: 2px solid rgb(53, 50, 50);
  border-radius: 4px;
  width: 25%;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 10px 15px rgba(0,0,0,0.4);
}
.btn-link:focus, .btn-link:visited{
  background-color: rgb(53, 50, 50);
  color: white;
  text-decoration: none;
}
.btn-link:hover{
  margin: 5px;
  background-color: #569988;
  color: white;
  text-decoration: none;
}

.projects{
  margin-right: 100px !important;
  margin-bottom: 100px;
}
.about{
  font-size: 18px;
}
.bio{
  margin-bottom: 3%;
}

.btn-primary.disabled, .btn-primary[disabled] {
  background-color: #5D8D89 !important;
  border-color: #5D8D89 !important;
}
#social-network {
  padding: 50px 0;
}
#contact {
  padding-bottom: 150px;
}

.work-item-info {
  transition: all .4s;
}
.work-item-info a {
  color: rgb(241, 241, 241);
}

h4 {
  color: #9a9a9a;
}

#skills, #social-network, #works {
  user-select: none;
}







  @media screen and (max-width: 1224px){
    .contact-info > ul {
      text-align: center;
    }
    .contact-info > ul > li{
      display: inline-block;
      text-align: center;
    }
    .contact-info > ul > li:nth-child(2){
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  @media screen and (max-width: 400px) {
    .hero-buttons{
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 500px) {
    .hero-buttons{
      margin-top: 3rem;
    }
  }

  @media screen and (max-width: 519px){
    .contact-info > ul > li:nth-child(2){
      margin-left: 40px;
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1025px){
    .col-xs-offset-1{
      margin-left: 11.333333%;
    }
  }
  @media screen and (max-width: 1025px){
    .col-xs-offset-1{
      margin-left: 0%;
    }
    .work-item-list li{
      margin: 2px;
    }
  }
  